:root {
    --primary: #C5C6C7;
    --secondary: #1F2833;
    --tertiary: #45A29E;
    --accent: #66FCF1;
    --dark: #0B0C10;

    --border-radius: 0.3rem;
  
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }
  
  .btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--secondary);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
  .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  

  .hero {
    padding-top: 3%;
    padding-inline: 4%;
    background-color: var(--secondary);
    color: var(--primary);
  }
  
  .hero p {
    max-width: 75%;
  }
  
  .title {
    font-size: 4rem;
    color: var(--accent);
    display: inline-block;
    text-transform: uppercase;
  }

  .subtitle {
    display: inline-block;
    text-transform: uppercase;
  }
  
  /* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* CARD CONTENT */

.card,
.results {
  border: 1px solid #000000;
  margin: 10px;
  padding: 10px;
}

.daily-card {
  border: 1px solid green;
}
.results {
  display: auto;
}

.card-header {
  text-transform: uppercase;
}
/* TODO: ADD A WAY TO HIDE RECENT SEARCHES IF NO SEARHCES MADE */


/* FORM CONTENT */
.form-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;

}
